.nav-link {
    @include nav-styles($text-color, $hover-color);
}

.subheaders1 {
    @include header-styles ($font-size, $main-color, $weight: "regular");
    text-align: left;
    margin-left: 25px;
}
.subheaders2 {
    @include header-styles ($font-size, $main-color, $weight: "regular");
    text-align: left;
    margin-right: 25px;
}
.paragraph2 {
    @include paragraph-properties;
}


