//BUSINESS ENGLISH WITH FLAVIA
#foto-personal {
    height: 200px;
    width: auto;
    margin-left: 35px;
    margin-top: 25px;
  }
  

.rompe {
  @include rompe-img;
}

  body {
    font-family: 'Open Sans', sans-serif;
    color: #808080;
  }
  
  .paragraph {
    @include textocentral;
  }

.card {
    height: 100%;
   
  .card-img-top2 {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.card-title{
  color: $main-color;
}
  
 .card-text {
  color: $text-color;
 }
  
  
  @media (max-width: 768px) {
    .custom-hide-on-small {
      display: none;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .special {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .col-md-3 {
      text-align: center;
  
      #imagen2 {
        max-width: 100%;
      }
    }
  }